* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: white;
}

.App {
    background-color: #0f1035;
    width: 100vw;
    height: 100vmax;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;}
